body {
  color: #666;
  background-color: rgb(248, 241, 223);
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}

.jumbotron {
  background-color: #fee;
}

#header {
  text-align: center;
}

input[type="text"] {
    width: 50%;
}

input[type="submit"] {
  border-color: #645023;
  background-color: #7C6025;
  color: white;
}

input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #645023;
  color: white;
}

.slider-handle {
  background: #7C6025;
}

#footer {
  text-align: center;
}

#result {
  display: none;
  background-color: white;
  color: #333;
  margin: 2em auto;
  padding: 1em 2em;
  border: 1px #ccc solid;
  width: 50%;
  min-width: 400px;
  min-height: 100px;
  box-shadow: 4px 4px 8px #999;
}

#result p{
  padding: 0 1em;
  text-indent: 1em;
}
